# .gitignore

# Ignore compiled binaries and object files
/bin/
*.exe
*.out
*.o

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.rubix/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints (if ever used)
.ipynb_checkpoints/

# OS-related junk
.DS_Store
Thumbs.db

# Ignore PNG output files
uml/*.png
*.png

# Ignore the PlantUML JAR file
uml/plantuml.jar

# Ignore pytest cache files
.pytest_cache/

# Ignore coverage reports
htmlcov/
coverage_html_report/
.coverage

# Ignore ruff files
.ruff_cache/